body {
    background-color: black;
    color: #cccccc;
    margin-top: 40px;
}

.headTitle {
    font-size: 70px;
    text-align: right;
    margin: 0;
    position: absolute;
    right: 60px;
    bottom: 60px;
    cursor: default;
    user-select: none;
}

.levelH4 {
    display: inline;
    margin-right: 13px;
}

.levelDiv {
    user-select: none;
    display: inline;
    margin-left: 35px;
    font-size: 30px;
}

.levelLabel {
    padding-right: 13px;
    cursor: pointer;
}

.radioLevel {
    transform: scale(1.6);
    margin: 0;
    padding: 0;
    margin-right: 5px;
}

.buttonNewGame {
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
    padding: 0px 15px;
    height: 31px;
    background-color: black;
    outline: none;
    color: #cccccc;
    font-size: 25px;
    cursor: pointer;
}

#mainDiv {
    margin-top: 20px;
    display: block;
    margin-left: 35px;
    user-select: none;
    float: left;
}

#statistics {
    display: block;
    margin-left: 35px;
    margin-top: 20px;
    font-size: 30px;
    cursor: default;
    user-select: none;
}

img {
    -webkit-user-drag: none;
}

#result {
    position: absolute;
    right: 60px;
    font-size: 80px;
    color: red;
    cursor: default;
    user-select: none;
}

#smileSpan {
    margin: 0;
    padding: 0;
    margin-left: 3px;
    margin-right: 3px;
}

#smileImage {
    height: 40px;
    width: 40px;
}